#**
 #*****************************************************
 #* ,----.     E3T - Esiee Paris      ,--.            *
 #* '  .-./    ,---. ,--,--,--. ,---. |  |,-.,--.,--. *
 #* |  | .---.| .-. ||        || .-. ||     /|  ||  | *
 #* '  '--'  |' '-' '|  |  |  |' '-' '|  \  \'  ''  ' *
 #* `------'  `---' `--`--`--' `---' `--'`--'`------' *
 #*    Alexandre Causse            Jérémy Fornarino   *
 #*****************************************************
 #* @author Alexandre Causse & Jérémy Fornarino   [E3T]
 #*/
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Gradle template
.gradle
gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
.DS_Store
META-INF/
clonetest.properties
clonetest.xml
report/report.aux
report/report.lof
report/report.log
report/report.pdf
report/report.synctex.gz
report/report.toc
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/resources/META-INF/
src/main/resources/Rapport.aux
src/main/resources/Rapport.log
src/main/resources/Rapport.pdf
